.cardHolder {
  background-color: #fff;
  width: 33%;
  border-radius: 30px;
  box-shadow: 9px 7px 16px #00000029;
}

.cardHolderTwo {
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 90px;
}

.contentDiv {
  padding: 30px 80px 30px 60px;
}

.flexButtonDivs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.secondDiv {
  width: 60%;
  background-color: #005cd8;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
  padding-top: 10px;
  padding-bottom: 30px;
  z-index: 100;
}

.firstDiv p,
.secondDiv p {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.firstDiv{
  width: 40%;
  text-align: center;
  margin-left: 20px;
  padding-top: 10px;
  cursor: pointer;
}

.grayBg {
  background-color: #eef3fb;
  /* height: 300px; */
  border-radius: 30px;
  margin-top: -25px !important;
  z-index: 200;
  position: relative;
}

.social {
  color: #3e3e3e;
  font-size: 13px;
}

.iconContainer {
  padding: 6px 10px;
  border: 1px solid #005cd8;
  border-radius: 50%;
}

.iconContainer:not(:first-child) {
  margin-left: 10px;
  color: #005cd8;
}

.btnP {
  padding-right: 10px !important;
}
.headerP{
    font-size: 13px;
}
.pFooter {
  width: 70%;
  color: #3e3e3e;
  font-size: 12px;
  padding-top: 10px;
}
